Customers of a certain bank are leaving: little by little, chipping away every month. The bankers figured out it’s cheaper to save the existing customers rather than to attract new ones.
Ths task is to predict whether a customer will leave the bank soon. We have the data on clients’ past behavior and termination of contracts with the bank.
My task is to build a model with the maximum possible F1 score. My aim is to get an F1 score of at least 0.59.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_classification
from sklearn.utils import shuffle
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

data = pd.read_csv('')

Importing the models to be used later in the code and reading the file with the dataset.

In [2]:
display(data.head(5))

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0

Viewing the content of the data.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             9091 non-null float64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

Viewing the datatypes and the completeness of the data.

In [4]:
data.dropna(subset = ['Tenure'], inplace=True)

Dropping the rows that have null values in Tenure.

In [5]:
data['Tenure'] = data['Tenure'].astype(int)

Changing the datatype of column Tenure to integer.

In [6]:
df1 = pd.get_dummies(data['Gender'])
display(df1)

      Female  Male
0          1     0
1          1     0
2          1     0
3          1     0
4          1     0
...      ...   ...
9994       1     0
9995       0     1
9996       0     1
9997       1     0
9998       0     1

[9091 rows x 2 columns]

Am not able to put the 0s and 1s in one column. please guide.

In [7]:
data['Gender'].replace('Female',0,inplace=True)
data['Gender'].replace('Male',1,inplace=True)

Encoding the Gender column with 0s and 1s.

In [8]:
data['Geography'].replace('France',1,inplace=True)
data['Geography'].replace('Germany',2,inplace=True)
data['Geography'].replace('Spain',3,inplace=True)

Encoding the Geography column with number 1,2,3.

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9091 entries, 0 to 9998
Data columns (total 14 columns):
RowNumber          9091 non-null int64
CustomerId         9091 non-null int64
Surname            9091 non-null object
CreditScore        9091 non-null int64
Geography          9091 non-null int64
Gender             9091 non-null int64
Age                9091 non-null int64
Tenure             9091 non-null int64
Balance            9091 non-null float64
NumOfProducts      9091 non-null int64
HasCrCard          9091 non-null int64
IsActiveMember     9091 non-null int64
EstimatedSalary    9091 non-null float64
Exited             9091 non-null int64
dtypes: float64(2), int64(11), object(1)
memory usage: 1.0+ MB

viewing the information of the table to see if the changes have been effected. tenure is now an integer.

In [10]:
display(data.head(5))

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,1,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,3,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,1,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,1,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,3,0,43,2,125510.82,1,1,1,79084.10,0

Viewing the table to see if the changes have been effected. Geography and Gender are now in number form.

In [11]:
data.Exited.value_counts()

0    7237
1    1854
Name: Exited, dtype: int64

The number of the exited members is not yet half but is significant enough to caution the campany. Shows that the column is imbalanced and will need to be balanced.

In [12]:
#X, y = make_classification(n_samples=9091, n_features=10, n_redundant=0, n_clusters_per_class=1, weights=[0.80,0.20], flip_y=0)

Am wondering if a ratio of 20:80 is so imbalanced to call for more balancing beyond upsampling. Please guide on what is considered as imbalanced.

In [13]:
# Split target and features
target = data['Exited']
features = data.drop(['Exited','Surname','RowNumber', 'CustomerId'], axis = 1)

# Split into sets
features_train, features_temp, target_train, target_temp = train_test_split(features, target, test_size=0.2,random_state=12345)
features_valid, features_test, target_valid, target_test = train_test_split(features_temp, target_temp, test_size=0.2,random_state=12345)

Defining the features and targets as well as splitting the data into the training and valid datasets

In [14]:
def upsample(features, target, repeat):
    features_zeros = features[target == 0]
    features_ones = features[target == 1]
    target_zeros = target[target == 0]
    target_ones = target[target == 1]

    features_upsampled = pd.concat([features_zeros] + [features_ones] * repeat)
    target_upsampled = pd.concat([target_zeros] + [target_ones] * repeat)
    
    features_upsampled, target_upsampled = shuffle(
        features_upsampled, target_upsampled, random_state=12345)
    
    return features_upsampled, target_upsampled

features_upsampled, target_upsampled = upsample(features_train, target_train, 100)

Balancing the training dataset using the upsampling method.

In [15]:
def downsample(features_upsampled, target_upsampled, fraction):
    features_zeros = features_upsampled[target_upsampled == 0]
    features_ones = features_upsampled[target_upsampled == 1]
    target_zeros = target_upsampled[target_upsampled == 0]
    target_ones = target_upsampled[target_upsampled == 1]

    features_downsampled = pd.concat(
        [features_zeros.sample(frac=fraction, random_state=12345)] + [features_ones])
    target_downsampled = pd.concat(
        [target_zeros.sample(frac=fraction, random_state=12345)] + [target_ones])
    
    features_downsampled, target_downsampled = shuffle(
        features_downsampled, target_downsampled, random_state=12345)
    
    return features_downsampled, target_downsampled

features_downsampled, target_downsampled = downsample(features_train, target_train, 0.5)

Balancing the training dataset using the downsampling method.

In [16]:
for estim in range(1,5,1):
        model = DecisionTreeClassifier(random_state=12345,class_weight='balanced')

        model.fit(features_downsampled, target_downsampled)
        predictions_valid = model.predict(features_valid)
        F1 = f1_score(target_valid, predictions_valid)
        auc_roc = roc_auc_score(target_valid,predictions_valid)
        
        model.score(features_train, target_train)
        
        print("n_estimators =" + str(estim)+ ":  F1_score = " + str(F1)+ ": AUR_ROC = " + str(auc_roc))

n_estimators =1:  F1_score = 0.48633093525179855: AUR_ROC = 0.6887816699843343
n_estimators =2:  F1_score = 0.48633093525179855: AUR_ROC = 0.6887816699843343
n_estimators =3:  F1_score = 0.48633093525179855: AUR_ROC = 0.6887816699843343
n_estimators =4:  F1_score = 0.48633093525179855: AUR_ROC = 0.6887816699843343

Defining the model ie DecisionTree classifier inside a loop that specifies the hyperparameter range to be used. Intiate the training using the fit() method.validating the trained model using the valid dataset the checking the accuracy of the valid dataset that has been predicted with the trained model. Then printing the F1 score and the AUR_ROC score where the AUR_ROC score is much higher than the F1_score.

In [17]:
for estim in range(5,100,5):
    for depth in range(1,12):

        model = RandomForestClassifier(random_state=12345,class_weight='balanced', n_estimators=estim, max_depth=depth)

        predictions = pd.Series(target.mean(), index=target.index)
        F1 = f1_score(target_valid, predictions_valid)
      
        model.fit(features_downsampled, target_downsampled)
        predictions_train = model.predict(features_train)
        predictions_valid = model.predict(features_valid)
        predictions_test = model.predict(features_test)
        #print("n_estimators =", estim, ":", F1)
        print('Max Depth ' + str(depth)+': ' + str(F1) )
        print()
        print("n_estimators =" + str(estim)+': ' + str(F1) )

Max Depth 1: 0.48633093525179855

n_estimators =5: 0.48633093525179855
Max Depth 2: 0.5066991473812424

n_estimators =5: 0.5066991473812424
Max Depth 3: 0.5427408412483039

n_estimators =5: 0.5427408412483039
Max Depth 4: 0.5347043701799485

n_estimators =5: 0.5347043701799485
Max Depth 5: 0.5385620915032681

n_estimators =5: 0.5385620915032681
Max Depth 6: 0.5459387483355527

n_estimators =5: 0.5459387483355527
Max Depth 7: 0.546916890080429

n_estimators =5: 0.546916890080429
Max Depth 8: 0.5413333333333333

n_estimators =5: 0.5413333333333333
Max Depth 9: 0.5490196078431373

n_estimators =5: 0.5490196078431373
Max Depth 10: 0.5480225988700564

n_estimators =5: 0.5480225988700564
Max Depth 11: 0.5541125541125541

n_estimators =5: 0.5541125541125541
Max Depth 1: 0.5561959654178674

n_estimators =10: 0.5561959654178674
Max Depth 2: 0.5029797377830751

n_estimators =10: 0.5029797377830751
Max Depth 3: 0.5431789737171465

n_estimators =10: 0.5431789737171465
Max Depth 4: 0.5489690721649485

n_estimators =10: 0.5489690721649485
Max Depth 5: 0.568

n_estimators =10: 0.568
Max Depth 6: 0.5582010582010581

n_estimators =10: 0.5582010582010581
Max Depth 7: 0.5614973262032086

n_estimators =10: 0.5614973262032086
Max Depth 8: 0.5618279569892473

n_estimators =10: 0.5618279569892473
Max Depth 9: 0.5589403973509934

n_estimators =10: 0.5589403973509934
Max Depth 10: 0.5762237762237763

n_estimators =10: 0.5762237762237763
Max Depth 11: 0.5751824817518247

n_estimators =10: 0.5751824817518247
Max Depth 1: 0.5718475073313782

n_estimators =15: 0.5718475073313782
Max Depth 2: 0.5231175693527081

n_estimators =15: 0.5231175693527081
Max Depth 3: 0.5521472392638037

n_estimators =15: 0.5521472392638037
Max Depth 4: 0.5706874189364463

n_estimators =15: 0.5706874189364463
Max Depth 5: 0.5684485006518905

n_estimators =15: 0.5684485006518905
Max Depth 6: 0.5687830687830687

n_estimators =15: 0.5687830687830687
Max Depth 7: 0.5687830687830687

n_estimators =15: 0.5687830687830687
Max Depth 8: 0.5752688172043011

n_estimators =15: 0.5752688172043011
Max Depth 9: 0.5710455764075066

n_estimators =15: 0.5710455764075066
Max Depth 10: 0.5890603085553997

n_estimators =15: 0.5890603085553997
Max Depth 11: 0.577259475218659

n_estimators =15: 0.577259475218659
Max Depth 1: 0.5854383358098069

n_estimators =20: 0.5854383358098069
Max Depth 2: 0.5386533665835411

n_estimators =20: 0.5386533665835411
Max Depth 3: 0.5761316872427984

n_estimators =20: 0.5761316872427984
Max Depth 4: 0.5644955300127714

n_estimators =20: 0.5644955300127714
Max Depth 5: 0.5763157894736841

n_estimators =20: 0.5763157894736841
Max Depth 6: 0.5797872340425531

n_estimators =20: 0.5797872340425531
Max Depth 7: 0.5729303547963206

n_estimators =20: 0.5729303547963206
Max Depth 8: 0.5906593406593407

n_estimators =20: 0.5906593406593407
Max Depth 9: 0.5787348586810228

n_estimators =20: 0.5787348586810228
Max Depth 10: 0.5911047345767575

n_estimators =20: 0.5911047345767575
Max Depth 11: 0.5982404692082112

n_estimators =20: 0.5982404692082112
Max Depth 1: 0.5966514459665144

n_estimators =25: 0.5966514459665144
Max Depth 2: 0.5653333333333334

n_estimators =25: 0.5653333333333334
Max Depth 3: 0.5736842105263158

n_estimators =25: 0.5736842105263158
Max Depth 4: 0.5651041666666667

n_estimators =25: 0.5651041666666667
Max Depth 5: 0.5604113110539847

n_estimators =25: 0.5604113110539847
Max Depth 6: 0.5851063829787234

n_estimators =25: 0.5851063829787234
Max Depth 7: 0.5781865965834428

n_estimators =25: 0.5781865965834428
Max Depth 8: 0.586445366528354

n_estimators =25: 0.586445366528354
Max Depth 9: 0.5842391304347826

n_estimators =25: 0.5842391304347826
Max Depth 10: 0.6031294452347084

n_estimators =25: 0.6031294452347084
Max Depth 11: 0.5941176470588235

n_estimators =25: 0.5941176470588235
Max Depth 1: 0.601823708206687

n_estimators =30: 0.601823708206687
Max Depth 2: 0.5637755102040816

n_estimators =30: 0.5637755102040816
Max Depth 3: 0.5794392523364487

n_estimators =30: 0.5794392523364487
Max Depth 4: 0.562905317769131

n_estimators =30: 0.562905317769131
Max Depth 5: 0.5572519083969465

n_estimators =30: 0.5572519083969465
Max Depth 6: 0.5866666666666667

n_estimators =30: 0.5866666666666667
Max Depth 7: 0.5790172642762285

n_estimators =30: 0.5790172642762285
Max Depth 8: 0.5839017735334243

n_estimators =30: 0.5839017735334243
Max Depth 9: 0.5876010781671159

n_estimators =30: 0.5876010781671159
Max Depth 10: 0.5979971387696709

n_estimators =30: 0.5979971387696709
Max Depth 11: 0.6002928257686677

n_estimators =30: 0.6002928257686677
Max Depth 1: 0.5996908809891809

n_estimators =35: 0.5996908809891809
Max Depth 2: 0.5297845373891001

n_estimators =35: 0.5297845373891001
Max Depth 3: 0.5768194070080862

n_estimators =35: 0.5768194070080862
Max Depth 4: 0.5666235446313066

n_estimators =35: 0.5666235446313066
Max Depth 5: 0.5574193548387096

n_estimators =35: 0.5574193548387096
Max Depth 6: 0.5849056603773585

n_estimators =35: 0.5849056603773585
Max Depth 7: 0.5710526315789475

n_estimators =35: 0.5710526315789475
Max Depth 8: 0.5822102425876011

n_estimators =35: 0.5822102425876011
Max Depth 9: 0.5896739130434783

n_estimators =35: 0.5896739130434783
Max Depth 10: 0.5934379457917262

n_estimators =35: 0.5934379457917262
Max Depth 11: 0.5961820851688693

n_estimators =35: 0.5961820851688693
Max Depth 1: 0.6061538461538463

n_estimators =40: 0.6061538461538463
Max Depth 2: 0.5244667503136763

n_estimators =40: 0.5244667503136763
Max Depth 3: 0.5725699067909454

n_estimators =40: 0.5725699067909454
Max Depth 4: 0.5629820051413882

n_estimators =40: 0.5629820051413882
Max Depth 5: 0.5643693107932379

n_estimators =40: 0.5643693107932379
Max Depth 6: 0.5771276595744681

n_estimators =40: 0.5771276595744681
Max Depth 7: 0.572944297082228

n_estimators =40: 0.572944297082228
Max Depth 8: 0.5803814713896458

n_estimators =40: 0.5803814713896458
Max Depth 9: 0.5983606557377049

n_estimators =40: 0.5983606557377049
Max Depth 10: 0.5902578796561605

n_estimators =40: 0.5902578796561605
Max Depth 11: 0.591715976331361

n_estimators =40: 0.591715976331361
Max Depth 1: 0.6094946401225114

n_estimators =45: 0.6094946401225114
Max Depth 2: 0.5285359801488834

n_estimators =45: 0.5285359801488834
Max Depth 3: 0.5584415584415583

n_estimators =45: 0.5584415584415583
Max Depth 4: 0.567741935483871

n_estimators =45: 0.567741935483871
Max Depth 5: 0.5714285714285714

n_estimators =45: 0.5714285714285714
Max Depth 6: 0.5805592543275633

n_estimators =45: 0.5805592543275633
Max Depth 7: 0.5851063829787234

n_estimators =45: 0.5851063829787234
Max Depth 8: 0.5826558265582655

n_estimators =45: 0.5826558265582655
Max Depth 9: 0.6043956043956045

n_estimators =45: 0.6043956043956045
Max Depth 10: 0.5929078014184397

n_estimators =45: 0.5929078014184397
Max Depth 11: 0.5952380952380952

n_estimators =45: 0.5952380952380952
Max Depth 1: 0.6089644513137558

n_estimators =50: 0.6089644513137558
Max Depth 2: 0.5456852791878172

n_estimators =50: 0.5456852791878172
Max Depth 3: 0.561038961038961

n_estimators =50: 0.561038961038961
Max Depth 4: 0.5618556701030928

n_estimators =50: 0.5618556701030928
Max Depth 5: 0.5699346405228758

n_estimators =50: 0.5699346405228758
Max Depth 6: 0.584

n_estimators =50: 0.584
Max Depth 7: 0.5855614973262033

n_estimators =50: 0.5855614973262033
Max Depth 8: 0.5898491083676268

n_estimators =50: 0.5898491083676268
Max Depth 9: 0.6016483516483517

n_estimators =50: 0.6016483516483517
Max Depth 10: 0.586894586894587

n_estimators =50: 0.586894586894587
Max Depth 11: 0.5889387144992526

n_estimators =50: 0.5889387144992526
Max Depth 1: 0.5923664122137404

n_estimators =55: 0.5923664122137404
Max Depth 2: 0.5526992287917737

n_estimators =55: 0.5526992287917737
Max Depth 3: 0.5599999999999999

n_estimators =55: 0.5599999999999999
Max Depth 4: 0.5625806451612902

n_estimators =55: 0.5625806451612902
Max Depth 5: 0.5673202614379086

n_estimators =55: 0.5673202614379086
Max Depth 6: 0.5861601085481682

n_estimators =55: 0.5861601085481682
Max Depth 7: 0.5868102288021534

n_estimators =55: 0.5868102288021534
Max Depth 8: 0.5934065934065934

n_estimators =55: 0.5934065934065934
Max Depth 9: 0.6066481994459834

n_estimators =55: 0.6066481994459834
Max Depth 10: 0.5917496443812233

n_estimators =55: 0.5917496443812233
Max Depth 11: 0.5885885885885886

n_estimators =55: 0.5885885885885886
Max Depth 1: 0.5925925925925926

n_estimators =60: 0.5925925925925926
Max Depth 2: 0.5387547649301144

n_estimators =60: 0.5387547649301144
Max Depth 3: 0.5526992287917737

n_estimators =60: 0.5526992287917737
Max Depth 4: 0.5618556701030928

n_estimators =60: 0.5618556701030928
Max Depth 5: 0.5661861074705111

n_estimators =60: 0.5661861074705111
Max Depth 6: 0.581081081081081

n_estimators =60: 0.581081081081081
Max Depth 7: 0.5882352941176471

n_estimators =60: 0.5882352941176471
Max Depth 8: 0.5906593406593407

n_estimators =60: 0.5906593406593407
Max Depth 9: 0.6047156726768378

n_estimators =60: 0.6047156726768378
Max Depth 10: 0.5872340425531914

n_estimators =60: 0.5872340425531914
Max Depth 11: 0.5943536404160475

n_estimators =60: 0.5943536404160475
Max Depth 1: 0.5972434915773354

n_estimators =65: 0.5972434915773354
Max Depth 2: 0.5419847328244275

n_estimators =65: 0.5419847328244275
Max Depth 3: 0.5528662420382165

n_estimators =65: 0.5528662420382165
Max Depth 4: 0.5640362225097025

n_estimators =65: 0.5640362225097025
Max Depth 5: 0.5691906005221932

n_estimators =65: 0.5691906005221932
Max Depth 6: 0.5809906291834003

n_estimators =65: 0.5809906291834003
Max Depth 7: 0.5906040268456376

n_estimators =65: 0.5906040268456376
Max Depth 8: 0.5890410958904109

n_estimators =65: 0.5890410958904109
Max Depth 9: 0.5924895688456189

n_estimators =65: 0.5924895688456189
Max Depth 10: 0.584045584045584

n_estimators =65: 0.584045584045584
Max Depth 11: 0.5955555555555554

n_estimators =65: 0.5955555555555554
Max Depth 1: 0.5945121951219512

n_estimators =70: 0.5945121951219512
Max Depth 2: 0.5394402035623409

n_estimators =70: 0.5394402035623409
Max Depth 3: 0.5538461538461539

n_estimators =70: 0.5538461538461539
Max Depth 4: 0.5618556701030928

n_estimators =70: 0.5618556701030928
Max Depth 5: 0.5695538057742783

n_estimators =70: 0.5695538057742783
Max Depth 6: 0.582995951417004

n_estimators =70: 0.582995951417004
Max Depth 7: 0.5909090909090909

n_estimators =70: 0.5909090909090909
Max Depth 8: 0.592896174863388

n_estimators =70: 0.592896174863388
Max Depth 9: 0.5988857938718664

n_estimators =70: 0.5988857938718664
Max Depth 10: 0.5852272727272728

n_estimators =70: 0.5852272727272728
Max Depth 11: 0.588757396449704

n_estimators =70: 0.588757396449704
Max Depth 1: 0.6003062787136294

n_estimators =75: 0.6003062787136294
Max Depth 2: 0.5275

n_estimators =75: 0.5275
Max Depth 3: 0.5503184713375796

n_estimators =75: 0.5503184713375796
Max Depth 4: 0.5564102564102564

n_estimators =75: 0.5564102564102564
Max Depth 5: 0.5643693107932379

n_estimators =75: 0.5643693107932379
Max Depth 6: 0.5822102425876011

n_estimators =75: 0.5822102425876011
Max Depth 7: 0.5935828877005348

n_estimators =75: 0.5935828877005348
Max Depth 8: 0.5874316939890709

n_estimators =75: 0.5874316939890709
Max Depth 9: 0.5988857938718664

n_estimators =75: 0.5988857938718664
Max Depth 10: 0.5815602836879432

n_estimators =75: 0.5815602836879432
Max Depth 11: 0.5943536404160475

n_estimators =75: 0.5943536404160475
Max Depth 1: 0.5929339477726575

n_estimators =80: 0.5929339477726575
Max Depth 2: 0.5281602002503129

n_estimators =80: 0.5281602002503129
Max Depth 3: 0.5521628498727735

n_estimators =80: 0.5521628498727735
Max Depth 4: 0.5585585585585585

n_estimators =80: 0.5585585585585585
Max Depth 5: 0.5658914728682171

n_estimators =80: 0.5658914728682171
Max Depth 6: 0.582109479305741

n_estimators =80: 0.582109479305741
Max Depth 7: 0.5904255319148937

n_estimators =80: 0.5904255319148937
Max Depth 8: 0.5948158253751705

n_estimators =80: 0.5948158253751705
Max Depth 9: 0.6

n_estimators =80: 0.6
Max Depth 10: 0.5880681818181819

n_estimators =80: 0.5880681818181819
Max Depth 11: 0.5922619047619048

n_estimators =80: 0.5922619047619048
Max Depth 1: 0.5911179173047474

n_estimators =85: 0.5911179173047474
Max Depth 2: 0.5256570713391739

n_estimators =85: 0.5256570713391739
Max Depth 3: 0.5510204081632653

n_estimators =85: 0.5510204081632653
Max Depth 4: 0.5614489003880984

n_estimators =85: 0.5614489003880984
Max Depth 5: 0.5637065637065638

n_estimators =85: 0.5637065637065638
Max Depth 6: 0.5890227576974565

n_estimators =85: 0.5890227576974565
Max Depth 7: 0.5912117177097205

n_estimators =85: 0.5912117177097205
Max Depth 8: 0.5945205479452055

n_estimators =85: 0.5945205479452055
Max Depth 9: 0.5986206896551723

n_estimators =85: 0.5986206896551723
Max Depth 10: 0.5875706214689266

n_estimators =85: 0.5875706214689266
Max Depth 11: 0.5913818722139673

n_estimators =85: 0.5913818722139673
Max Depth 1: 0.5907692307692307

n_estimators =90: 0.5907692307692307
Max Depth 2: 0.5380710659898477

n_estimators =90: 0.5380710659898477
Max Depth 3: 0.5477707006369427

n_estimators =90: 0.5477707006369427
Max Depth 4: 0.5651612903225807

n_estimators =90: 0.5651612903225807
Max Depth 5: 0.5666666666666668

n_estimators =90: 0.5666666666666668
Max Depth 6: 0.5858854860186418

n_estimators =90: 0.5858854860186418
Max Depth 7: 0.5935828877005348

n_estimators =90: 0.5935828877005348
Max Depth 8: 0.5961538461538461

n_estimators =90: 0.5961538461538461
Max Depth 9: 0.6011080332409973

n_estimators =90: 0.6011080332409973
Max Depth 10: 0.5872340425531914

n_estimators =90: 0.5872340425531914
Max Depth 11: 0.5898203592814371

n_estimators =90: 0.5898203592814371
Max Depth 1: 0.5902140672782874

n_estimators =95: 0.5902140672782874
Max Depth 2: 0.5373891001267428

n_estimators =95: 0.5373891001267428
Max Depth 3: 0.5489199491740787

n_estimators =95: 0.5489199491740787
Max Depth 4: 0.5647668393782384

n_estimators =95: 0.5647668393782384
Max Depth 5: 0.5681233933161954

n_estimators =95: 0.5681233933161954
Max Depth 6: 0.5809018567639257

n_estimators =95: 0.5809018567639257
Max Depth 7: 0.5930851063829787

n_estimators =95: 0.5930851063829787
Max Depth 8: 0.5977961432506887

n_estimators =95: 0.5977961432506887
Max Depth 9: 0.6013793103448277

n_estimators =95: 0.6013793103448277
Max Depth 10: 0.5807365439093484

n_estimators =95: 0.5807365439093484
Max Depth 11: 0.5907046476761619

n_estimators =95: 0.5907046476761619

Defining the model ie RandomForest classifier inside a loop that specifies the hyperparameter range to be used. Intiate the training using the fit() method.validating the trained model using the valid dataset the checking the F1_score of the valid dataset that has been predicted with the trained model. Then printing the F1_score.        
The hyperparameters that are defined by the n_estimators and depth which are defined as the range values of the loops.

In [18]:
F1 = f1_score(target_valid, predictions_valid)

model.fit(features_train,target_train)

model = RandomForestClassifier(n_estimators=20, random_state=12345,class_weight='balanced', max_depth=11)
model.fit(features_downsampled, target_downsampled)
predictions_test = model.predict(features_test)

f1_score_train = f1_score(target_train, predictions_train)
test_f1_score = f1_score(target_test, predictions_test)
F1 = f1_score(target_valid, predictions_valid)
auc_roc = roc_auc_score(target_valid,predictions_valid)

Defining the best model as the final model to be used with the test dataset. Then checking the F1_Score of the trained and the test datasetafter the predictions.

In [19]:
print("Score")
print("Training set:", f1_score_train)
print("Test set:", test_f1_score)
print("f1_score",F1)
print("AUC_ROC",auc_roc)

Score
Training set: 0.8203912270302313
Test set: 0.6
f1_score 0.5975609756097561
AUC_ROC 0.7633894392160095

The best model selected is random Forest classifier with the following hyperparameters:n_estimators=20, random_state=12345,class_weight='balanced', max_depth=11 with the upsampling and the downsampling balancing methods applied.

It can be observed that for a targeted F1_score, the AUC_ROC is much higher than the F1_score.