## Analyzing borrowers’ risk of defaulting

To find out if a customer’s marital status and number of children has an impact on whether they will default on a loan. The bank already has some data on customers’ credit worthiness.

### Step 1. Open the data file and have a look at the general information.

In [4]:
import pandas as pd
import numpy as np
credit_scoring = pd.read_csv()
print(credit_scoring.info())
print(credit_scoring.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None
   children  days_employed  dob_years            education  education_id  \
0         1   -8437.673028         42    bachelor's degree             0
1         1   -4024.803754         36  secondary education             1
2         0   -5623.422610         33  Secondary Education             1
3         3   -4124.747207         32  secondary education             1
4         0  340266.072047         53  secondary education             1
5         0    -926.185831         27    bachelor's degree             0
6         0   -2879.202052         43    bachelor's degree             0
7         0    -152.779569         50  SECONDARY EDUCATION             1
8         2   -6929.865299         35    BACHELOR'S DEGREE             0
9         0   -2188.756445         41  secondary education             1

       family_status  family_status_id gender income_type  debt  total_income  \
0            married                 0      F    employee     0     40620.102
1            married                 0      F    employee     0     17932.802
2            married                 0      M    employee     0     23341.752
3            married                 0      M    employee     0     42820.568
4  civil partnership                 1      F     retiree     0     25378.572
5  civil partnership                 1      M    business     0     40922.170
6            married                 0      F    business     0     38484.156
7            married                 0      M    employee     0     21731.829
8  civil partnership                 1      F    employee     0     15337.093
9            married                 0      M    employee     0     23108.150

                               purpose
0                purchase of the house
1                         car purchase
2                purchase of the house
3              supplementary education
4                    to have a wedding
5                purchase of the house
6                 housing transactions
7                            education
8                     having a wedding
9  purchase of the house for my family

### Conclusion
The info() function gives a general description of the data which includes it size and the type of data contained in each field. This is important to guide in knowing the right kind of operation that can be supported by each field.The head() function gives the actual content of the data according to the number of rows specified in the bracket.

### Step 2. Data preprocessing

### Processing missing values

In [5]:
import pandas as pd
credit_scoring = pd.read_csv('/datasets/credit_scoring_eng.csv')

credit_scoring['days_employed'].sort_values()
median_of_days_employed = credit_scoring['days_employed'][credit_scoring['days_employed'] >0].median()
credit_scoring['days_employed'] = credit_scoring['days_employed'].fillna(median_of_days_employed)
 
credit_scoring['total_income'].sort_values()
credit_scoring_income_median = credit_scoring['total_income'].median()
credit_scoring['total_income'] = credit_scoring['total_income'].fillna(credit_scoring_income_median)
 
print('The Median of days_employed is: {:.4f}'.format(median_of_days_employed))
print('The Median of total_income is: {:.4f}'.format(credit_scoring_income_median))
print('')

credit_scoring['children'].replace([-1,20],0, inplace=True)
print(credit_scoring['children'].value_counts())
print('')
print(credit_scoring['gender'].value_counts())
print('')
credit_scoring['gender'].replace(['XNA'],'F', inplace=True)
print(credit_scoring['gender'].value_counts())

The Median of days_employed is: 365213.3063
The Median of total_income is: 23202.8700

0    14272
1     4818
2     2055
3      330
4       41
5        9
Name: children, dtype: int64

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

F    14237
M     7288
Name: gender, dtype: int64

### Conclusion
Some values in days_employed and total_income were empty and needed to be replaced for consistency. In the children column there was a -1 and 20 that were outliers and needed to be replaced. Also there was a wrong value in the gender column i.e. XNA that I replaced to F to make all variables realistic.

### Data type replacement

In [6]:
credit_scoring['total_income'] = credit_scoring['total_income'].astype('int')
credit_scoring['days_employed'] = credit_scoring['days_employed'].astype('int')
credit_scoring['purpose'] = credit_scoring['purpose'].str.lower()
credit_scoring['education'] = credit_scoring['education'].str.lower()
credit_scoring['income_type'] = credit_scoring['income_type'].str.lower()

print(credit_scoring.info())
print('')
print(credit_scoring['education'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null int64
purpose             21525 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB
None

secondary education    15233
bachelor's degree       5260
some college             744
primary education        282
graduate degree            6
Name: education, dtype: int64

### Conclusion
Replacing days_employed and total_income to integer from float to make them whole numbers to make these column be realistic. Also making the variables with object datatype to have a common case.

### Processing duplicates

In [7]:

credit_scoring.duplicated().sum()
credit_scoring[credit_scoring.duplicated()==True].describe()
print(credit_scoring.shape)
credit_scoring.drop_duplicates(inplace=True)
print(credit_scoring.shape)

(21525, 12)
(21454, 12)

### Conclusion
There were 71 duplicated records. I have dropped all the duplicates.
The duplicates could have been brought about by the replacement of missing values.

### Categorizing Data

In [8]:
print(credit_scoring['family_status'].value_counts())


credit_scoring['married_flag'] = credit_scoring.family_status=='married'
credit_scoring['kids_flag'] = credit_scoring.children>0
credit_scoring['income_bin'] = pd.cut(credit_scoring.total_income, [0,25000,50000,75000,100000,np.inf])
print('')
print(credit_scoring.groupby('married_flag').apply(lambda x: x.debt.sum()/x.debt.count()))

married              12339
civil partnership     4151
unmarried             2810
divorced              1195
widow / widower        959
Name: family_status, dtype: int64

married_flag
False    0.088865
True     0.075452
dtype: float64

<div class="alert alert-block alert-danger">
<b>Needs fixing:</b> <br> 1)
There is no need to do a second import, since 1 time is enough.

2) There is no need to download the dataset again, because it makes no sense and you overwrite all your previous actions.
</div>

### Conclusion
This is category per datatype values of the dataframe in culomn family_status.

### Step 3. Answer these questions

- Is there a relation between having kids and repaying a loan on time?

In [9]:
print(credit_scoring.groupby('children')['debt'].sum()/credit_scoring.groupby('children')['debt'].count().sort_values())
print('')
print(credit_scoring.groupby('kids_flag').apply(lambda x: x.debt.sum()/x.debt.count()))

children
0    0.075419
1    0.092346
2    0.094542
3    0.081818
4    0.097561
5    0.000000
Name: debt, dtype: float64

kids_flag
False    0.075419
True     0.092403
dtype: float64

### Conclusion
The more the children the less the debt upto 5 children. But if the number of children rises to 20 the rate of debt start to increase. Meaning that as responsibilities grow the rate of debt descreases.

- Is there a relation between marital status and repaying a loan on time?

In [7]:
print(credit_scoring.groupby('family_status')['debt'].sum()/credit_scoring.groupby('family_status')['debt'].count().sort_values())

family_status
civil partnership    0.093471
divorced             0.071130
married              0.075452
unmarried            0.097509
widow / widower      0.065693
Name: debt, dtype: float64

### Conclusion
The rate of debt is higher among the unmarried followed by civil partnership. And lowest among the widows and widower.

- Is there a relation between income level and repaying a loan on time?

In [10]:
print(credit_scoring.groupby('income_bin').apply(lambda x: x.debt.sum()/x.debt.count()))

income_bin
(0.0, 25000.0]         0.082938
(25000.0, 50000.0]     0.080071
(50000.0, 75000.0]     0.073643
(75000.0, 100000.0]    0.052910
(100000.0, inf]        0.060606
dtype: float64

### Conclusion
Those with higher income have a higher default rate.

- How do different loan purposes affect on-time repayment of the loan?

In [13]:

def purpose(value):
    if 'university' in value or 'education' in value:
        return 'education'
    if 'house' in value or 'housing' in value or 'estate' in value or 'property' in value:
        return 'house'
    if 'car' in value:
        return 'car'
    if 'wed' in value:
        return 'wedding'
    else:
        return 'other'
credit_scoring['purpose_bin']=credit_scoring.purpose.apply(purpose)
credit_scoring.groupby('purpose_bin').apply(lambda x: x.debt.sum()/x.debt.count())

purpose_bin
car          0.093590
education    0.091817
house        0.072334
other        0.095588
wedding      0.080034
dtype: float64

### Conclusion
Those seeking education have considerably high defaulter rate than all others. The least defaulters are wedding financing. Am unable to run this code. Please guide.